@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Alegreya', serif;
    /* border:1px solid black; */
}

header{
    width:100%;
    height: 70px;
    background-color: #fbd84a;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    z-index:1;
}
.brand{
    margin-left: 5%;
}
.brand h1{
    font-size: 30px;
}
.header-left{
    margin-right: 3%;
}
.header-left i{
    margin-left:1px;
    font-size: 20px;
}

.main-menu{
    max-width: 600px;
    width:90%;
    margin:0 auto;
    text-align: center;
    position: relative;
    top:80px;
}
.main-menu h2{
    font-size: 35px;
    margin:10px 0;
}
.accordion{
    width:100%;
    height: 50px;
    margin-bottom: 15px;
    background:#000;
    color:#fbd84a;
    border:none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
    letter-spacing: 2px;
}

.accordion:hover{
    transition: 0.3s ease-in;
}
.accordion:hover span i{
    font-size: 25px;
    transition: 0.2s ease-in;
    top:0px;

}
.active{
    transition: 0.2s ease-in;
}
.active i {
    font-size: 25px;
    transition: 0.2s ease-in;
    top:0px;
}

.panel{
    display: none;
    width:100%;
    margin:5px auto;
}
.panel li{
    padding:2px;
    margin:5px;
    text-align: left ;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}
.panel li:hover{
    background: rgb(216, 216, 216);
}
.panel li a{
    text-decoration: none;
    font-size: 20px;
    color:#000;
    display: flex;
    flex-direction: column;
}
.panel .item{
    width:94%;
    display: flex;
    margin-left: 4%;
    margin-right: 2%;
}
.panel .item >div:nth-child(1){
    width:80%;
    padding:1px;
}
.panel .item >div:nth-child(2){
    text-align: right;
    width:20%;
}
.item p{
    font-style: italic;
    font-size: 19px;
    color:gray;
}

ul {
    list-style: none;
    padding: 0;
  }
  li:before {
    content: "\f192"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 0em; 
    /* width: 1em;  */
    color:green;
    font-size: 20px;
    position: absolute;
    top:20px;
    
  }
.accordion span{
    display:inline-block;
    width:25%;
    position: relative;
    text-align: left;
    padding-left: 10%;
}
.accordion span i{
    position: absolute;
    left:10%;
    top:15%;
}
.price{
    display: flex;
    width:90%;
    justify-content: flex-end;
}
.price > div{
    width: 20%;
}
.price button{
    width:85%;
    border:none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 8%;
}
.price span{
    display: inline-block;
    width:100%;
    text-align: center;
}

@media screen and (max-width:399px){
    .panel li{
        padding:5px;
    }
    .brand h1{
        font-size: 22px;
    }
    .header-left i{
        margin-left:5px;
        font-size: 15px;
    }
    .accordion span{
        padding-left: 15%;
    }
    
    .panel{
        width:98%;
    }
    li:before {
        margin-left: -1em; 
      }
      .price{
        flex-direction: column;
        justify-content: flex-start;
    }
    .price > div{
        width: 100%;
        height: 20px;
        position: relative;
        top:-5px;
    }
    .price button{
        width:50%;
        height: 15px;
        margin:0;
        padding:0;
    }
    .price span{
        width:50%;
    }
    
}